{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Title {% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}

    {% endblock %}
    <footer>&copy;Rollings Majiwa. All Rights reserved</footer>
</body>
</html>