<nav class="bg-blue-900  text-white">
    <ul class=" text-black flex items-left text-lg  ">
        <li class="px-8 hover: text-black hover:text-red-700"><a href=" {% url 'home' %}">Home</a></li>
        
        <li class=" hover:text-red-700"><a href="{% url 'about' %}">About</a></li>
        <li class=" hover:text-red-700 px-8"><a href="{% url 'blogs' %}">Gallery</a></li>
        {% if user.is_authenticated %}
        <span>Welcome {{ user.username }}</span>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
        </form>
       
    </ul>
</nav>