{% extends "base.html" %}
{% block title %}Contact {% endblock %}
{% block content %}
<h1>{{ message }}</h1>
<form method="post">
     {% csrf_token %}
   
    <div>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="message">Message:</label>
        <textarea name="message" id="message" placeholder="Write your message here.." required></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}