{% extends "base.html" %}
{% load static %}



    {% block content %}
<section class="hero">
  <h1>{{ message }}</h1>
  <p>Discover visual stories, landscape views, and creative moments.</p>
  <a href="{% url 'gallery' %}">Explore Gallery</a>
</section>
<section class="featured">
  <h2>Featured Photos</h2>
  <div class="photo-grid">
    {% for photo in photos|slice:":3" %}
      <div class="photo-card">
        <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
        <h3>{{ photo.title }}</h3>
      </div>
    {% empty %}
      <p>No photos uploaded yet!</p>
    {% endfor %}
  </div>
</section>
    {% endblock %}