<nav class="bg-gray-900 text-white shadow">
    <div class="max-w-6xl mx-auto px-4 py-3 flex justify-between items-center">
        <a href="{% url 'home' %}" class="text-xl font-bold tracking-wide text-white hover:text-gray-300 transition">MyGallery</a>
        <div class="space-x-6 text-sm font-medium">
            <a href="{% url 'home' %}" class="text-gray-300 hover:text-white transition">Home</a>
            <a href="{% url 'gallery' %}" class="text-gray-300 hover:text-white transition">Gallery</a>
            <a href="{% url 'contact' %}" class="text-gray-300 hover:text-white transition">Contact</a>
            <a href="{% url 'register' %}" class="bg-black hover:bg-gray-800 px-3 py-2.5 rounded font-bold border border-gray-700">Regisre</a>
            {% if user.is_authenticated %}
                <span class="text-gray-400">Hello, {{ user.username }}</span>
        <form action="{% url 'logout' %}" method="post" class="flex justify-between">
            {% csrf_token %}
            <button type="submit" class="bg-red-600 hover:bg-red-800 px-3 py-1.5 rounded text-white border border-red-500">Logout</button>
        {% else %}
        <a href="{% url 'login' %}" class="bg-black hover:bg-gray-800 px-3 py-2.5 rounded font-bold border border-gray-700">Login</a>
        {% endif %}
        </form>
       
    </div>
    </div>
</nav>